#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 18vh;
}


.bg {
    position: static;
    top: -4rem;
    right: 0;
    z-index:-1;
    object-fit: cover;
    height: auto;
    flex-wrap: wrap;
    width: 100%;
    animation: fadeInUp 2s ease forwards;
}

.introContent {
    height: 100vh;
    width: 100;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeInUp 2s ease forwards;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;

}

.introName{
    color:rgb(68, 169, 241);
}

.introPara {
    font-size: small;
    font-weight: 300;
    letter-spacing: 1px;
    font-style:italic;

}

.btn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;

}


/*.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 12px;
    width: 48px;
} use this if you use an image in the Resume button */


@media screen and (min-width: 768px) {
  #intro {
    flex-direction: column; /* side-by-side on desktop */
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  #intro {
    flex-direction: column; /* stacked on mobile */
  }
}

.nav__button {

    background: rgb(196, 196, 196);
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

}

/* Fade-in animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

